---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import GithubIcon from "../icons/Github.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import EmailIcon from "../icons/Email.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio de Andrés Rivera Valle - Desarrollador y programador web"
  description="Explora el portfolio de Andrés Rivera Valle, desarrollador y programador web con una sólida trayectoria en la creación de sitios web modernos, funcionales y adaptables. Con especialización en desarrollo frontend, Andrés proporciona soluciones personalizadas empleando tecnologías como HTML, CSS, JavaScript, React, entre otras. Visita su portfolio para descubrir proyectos reales y ver cómo puede convertir tus ideas en soluciones digitales innovadoras."
>
  <main class="px-4">
    <SectionContainer id="contacto" class="pt-44 pb-32">
      <img
        class="rounded-full size-16 mb-4"
        src="https://media.licdn.com/dms/image/v2/D4D03AQG0TS2_QbjhOw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1728321759087?e=1737590400&v=beta&t=g54p5qstrSByH6iul51vAWc5qVBtVdxUXaRuhp-yq9M"
        alt="profile photo"
      />
      <h1 class="text-white text-3xl lg:text-5xl font-bold flex flex-row flex-wrap lg:flex-nowrap gap-4  pb-6 lg:pb-10">
        Hola, soy Andrés Rivera Valle<a
          href="https://www.linkedin.com/in/carlos-andres-rivera-valle/"
          target="_blank"
          class="flex justify-center items-center"
          rel="noopener"><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap text-white/85 max-w-[700px]">
        <span class="text-yellow-200">Ingeniero en Software</span>, <span
          class="text-blue-200">Desarrollador Web</span
        > y <span class="text-red-200">Diseñador UX/UI</span>. Especializado
        maquetación web, responsive, rendimiento y manejo de SEO en proyectos.
      </h2>
      <nav class="flex gap-4 mt-10 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/carlos-andres-rivera-valle/"
        >
          <LinkedInIcon class="size-4 md:size-6" />LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/andresRivera123">
          <GithubIcon class="size-4 md:size-6" /> Github
        </SocialPill>
        <SocialPill href="mailto:carlosandresriveravalle@gmail.com">
          <EmailIcon class="size-4 md:size-6" />
          Email
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-4 items-center">
        <BriefcaseIcon class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-4 items-center">
        <CodeIcon class="size-6"/>
        Proyectos
      </h2>
      <Projects/>
    </SectionContainer>
  </main>
</Layout>
